<launch>

  <!-- Se reproduce el rosbag de la camara -->
  <node pkg="rosbag" type="play" name="play" args="--clock -l $(find distance_meter)/bag/distance.bag"/>

  <!-- Se calcula la distancia y se la publica -->
  <node name="distance_node" pkg="distance_meter" type="distance.py"/>

  <!-- En lugar de rviz, un codigo se suscribe al topico del resultado y lo muestra -->
  <node name="image_msg_subscriber" pkg="distance_meter" type="image_msg_subscriber.py"/>
  
</launch>
